#
# fadc250 config file - example
#
# this file contains settings for
# fADC250 - JLAB VXS Flash ADC 12-bit 250 Msps 16 ch
#
# format:
# ~~~~~~~
# FADC250_CRATE     rocbcal1   <- ROC name, crate name, usually IP name
# FADC250_ALLSLOTS             <- just keyword - all settings after this line will be implemented
#                                                for all slots, till FADC250_SLOTS will be met
# FADC250_SLOTS     3  8  15   <- slot_numbers - in which next settings will be implemented
#                                                till file ends or next FADC250_SLOTS will be met
#
# FADC250_F_REV     0x02c1     <- firmware revision  (0x0 Bits:7-0)
# FADC250_B_REV     0x0a03     <- board revision     (0x0 Bits:15-8)
# FADC250_ID        0xfadc     <- board type         (0x0 Bits:31-16)
#
# FADC250_MODE      1   <- process mode: 1-4  (0x10C Bits:2-0)
# FADC250_W_OFFSET  50  <- number of ns back from trigger point. (0x120)
#                            (in Manual it is  PL=Trigger_Window(ns) * 250MHz)
# FADC250_W_WIDTH   49  <- number of ns to include in trigger window. (0x11C)
#                            (in M:  PTW=Trigger_Window(ns) * 250MHz, minimum is 6)
# FADC250_NSB       3   <- number of ns before trigger point to include in data processing. (0x124)
#                            This include the trigger Point. (minimum is 2 samples (8 ns) in all mode)
# FADC250_NSA       6   <- number of ns after trigger point to include in data processing. (0x128)
#                            Minimum is 6 samples (mode 2) and 3 samples (mode 0 and 1).
#                            Number of sample report is 1 more for odd and 2 more for even NSA number.
# FADC250_NPEAK     1   <- number of Pulses in Mode 2 and 3.  (0x10C Bits:6-5)
#
#                   0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 - channels ##
# FADC250_ADC_MASK  1  0  1  1  1  0  1  0  1  0  1  0  1  0  1  0   <- channel enable mask
#
# FADC250_TRG_MASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1   <- trigger enable mask 
# 
# FADC250_TET       110        <- board Trigger Energy Threshold (TET), same for all 16 channels
# FADC250_CH_TET    0    110   <- channel# and TET_value for this channel
# FADC250_ALLCH_TET 111  222  2  3  4  5  6  7  8  9  10  11  12  13  14  15   <- 16 TETs (0x12C - 0x148)
## FADC250_DAC       3300       <- board DAC, one and the same for all 16 channels
# FADC250_DAC       3300       <- board DAC, one and the same for all 16 channels
# FADC250_CH_DAC    0    3300  <- channel# and DAC_value for this channel
# FADC250_ALLCH_DAC 3300 3280 3310 3280 3310 3280 3310 3280 3300 3280 3300 3280 3310 3280 3310 3280 <- 16 DACs
#
# FADC250_PED       210        <- board Pedestals, same for all channels
# FADC250_CH_PED    0    210   <- channel# and Pedestal_value for this channel
# FADC250_ALLCH_PED 210  220  210  215  215  220  220  210  210  215  215  220  220  210  215  220  <- 16 PEDs
#
# FADC250_GAIN       210        <- board Gains, same for all channels
# FADC250_CH_GAIN    0    210   <- channel# and Gain_value for this channel
# FADC250_ALLCH_GAIN 210  220  210  215  215  220  220  210  210  215  215  220  220  210  215  220  <- 16 GAINs
# FADC250_TRG_MODE_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 <- 0=normal pulse trigger mode, 1=discriminator mode
# FADC250_INVERT_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 <- 0=ADC values not changed, 1=inverted ADC input polarity (i.e. ADC=4095-ADC)

FADC250_CRATE all

FADC250_SLOT 3

FADC250_W_OFFSET  2180
FADC250_W_WIDTH   320
FADC250_NSB       12
FADC250_NSA       128

#raw mode
FADC250_MODE      3

#       channel:      0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FADC250_ADC_MASK      1  1  0  0  1  0  0  0  0  0  0  0  0  0  0  0
FADC250_TRG_MASK      1  1  0  0  1  0  0  0  0  0  0  0  0  0  0  0
FADC250_INVERT_MASK   0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0
FADC250_PLAYBACK_DISABLE_MASK   0  1  0  0  1  0  0  0  0  0  0  0  0  0  0  0
# Set MPS (ch1) & helicity (ch2) & busy (ch4) to discriminator mode for trigger path
FADC250_TRG_MODE_MASK 0  1  0  0  1  0  0  0  0  0  0  0  0  0  0  0 
# setting 1: always readout channel (threshold only applies to trigger path)
# setting 0: only readout when TET is reached
FADC250_TET_IGNORE_MASK 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

#       channel:     0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FADC250_DAC 3250
FADC250_ALLCH_TET  103  750  0  0 1000  0  0  0  0  0  0  0  0  0  0  0
FADC250_ALLCH_PED    0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
FADC250_GAIN 1.0

#


FADC250_CRATE end

